{% macro render_menu_item(item, translation_domain) %}
    {% if item.type == 'divider' %}
        {{ item.label|trans(domain = translation_domain) }}
    {% else %}
        {% set menu_params = { menuIndex: item.menu_index, submenuIndex: item.submenu_index } %}
        {% set path =
            item.type == 'link' ? item.url :
            item.type == 'route' ? path(item.route, item.params) :
            item.type == 'entity' ? path('easyadmin', { entity: item.entity, action: 'list' }|merge(menu_params)|merge(item.params)) :
            item.type == 'empty' ? '#' : ''
        %}

        {# if the URL generated for the route belongs to the backend, regenerate
           the URL to include the menu_params to display the selected menu item
           (this is checked comparing the beginning of the route URL with the backend homepage URL)
        #}
        {% if item.type == 'route' and (path starts with path('easyadmin')) %}
            {% set path = path(item.route, menu_params|merge(item.params)) %}
        {% endif %}

        <a href="{{ path }}"
           class="{{ item.css_class|default('') }}"
           {% if item.target|default(false) %}target="{{ item.target }}"{% endif %}
           {% if item.rel|default(false) %}rel="{{ item.rel }}"{% endif %}>
            {% if item.icon is not empty %}<i class="fa {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|trans(domain = translation_domain) }}</span>
            {% if item.children|default([]) is not empty %}<i class="fa fa-angle-right treeview-icon"></i>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% import _self as helper %}

{% block main_menu_before %}{% endblock %}

{% set _translation_domain = (_entity_config.translation_domain)|default(easyadmin_config('translation_domain'))|default('messages') %}
<ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
    {% set _menu_items = easyadmin_config('design.menu') %}
    {% set _menu_items = _menu_items|prune_menu_items(easyadmin_config('entities')) %}

    {% block main_menu %}
        {% for item in _menu_items %}
            {% block menu_item %}
                {% set is_selected_menu = app.request.query.get('menuIndex')|default(-1) == loop.index0 %}
                {% set is_selected_submenu = is_selected_menu and app.request.query.get('submenuIndex')|default(-1) != -1 %}
                <li class="{{ item.type == 'divider' ? 'header' }} {{ item.children is not empty ? 'treeview' }} {{ is_selected_menu ? 'active' }} {{ is_selected_submenu ? 'submenu-active' }}">
                    {{ helper.render_menu_item(item, _translation_domain) }}

                    {% if item.children|default([]) is not empty %}
                        <ul class="treeview-menu">
                            {% for subitem in item.children %}
                                {% block menu_subitem %}
                                    <li class="{{ subitem.type == 'divider' ? 'header' }} {{ is_selected_menu and app.request.query.get('submenuIndex')|default(-1) == loop.index0 ? 'active' }}">
                                        {{ helper.render_menu_item(subitem, _translation_domain) }}
                                    </li>
                                {% endblock menu_subitem %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endblock menu_item %}
        {% endfor %}
    {% endblock main_menu %}
    {% if 'ROLE_ADMIN' in app.user.getroles(TRUE)  %}
        <li class="db_menu treeview  {% if app.request.get('entity') == 'Producto' and app.request.get('action') == 'list' and app.request.get('cat') %} active submenu-active{% endif %}">
            <a href="#" class="">
                <i class="fa fa-lemon-o"></i><span>Productos por categoría</span>
                <i class="fa fa-angle-right treeview-icon"></i></a>
            <ul class="treeview-menu">
                {% for item in qi.categorias %}
                    <li class="{% if app.request.get('cat') == item.id %}active{% endif %}">
                        <a href="{{ path('easyadmin', {entity: 'Producto', action: 'list', cat: item.id }) }}">
                            <i class="fa"><img src="{{ item.imagen }}" alt=""></i>
                            <span>{{ item.nombre }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% if 'ROLE_POS_ADMIN' in app.user.getroles(TRUE)  %}
        {% if qi.setting('tienda_puede_crear_productos') == '1' %}
            <li class="{% if app.request.get('entity') == 'Producto' and app.request.get('action') == 'list' and app.request.get('cat') %}active{% endif %}">
                <a href="{{ path('easyadmin', {entity: 'Producto', action: 'list' }) }}" class="">
                    <i class="fa fa-lemon-o"></i><span>Productos Comercio</span>
                </a>
            </li>
        {% endif %}
        {% if qi.setting('administra_inventarios') == '1' %}
            <li class="db_menu treeview  {% if app.request.get('entity') == 'Inventario' and app.request.get('action') == 'list' %} active submenu-active{% endif %}">
                <a href="#" class="">
                    <i class="fa fa-truck"></i><span>Inventarios</span>
                    <i class="fa fa-angle-right treeview-icon"></i></a>
                <ul class="treeview-menu">
                    {% for item in qi.categorias %}
                        <li class="{% if app.request.get('cat') == item.id %}active{% endif %}">
                            <a href="{{ path('easyadmin', {entity: 'Inventario', action: 'list', cat: item.id }) }}">
                                <i class="fa"><img src="{{ item.imagen }}" alt=""></i>
                                <span>{{ item.nombre }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endif %}
</ul>

{% block main_menu_after %}{% endblock %}
