<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }
    </style>
</head>
<body>
<div class="conatiner loader" style="display: none;">
    <img src="{{ asset('back/loader.gif') }}" alt="">
</div>
<div class="container general">
    <h2>Super Grupos de {{ producto.nombre }}</h2>
    <br>
    <h3>Agregar</h3>
    <ul class="list-group">
        {% for supergrupo in supergrupos %}
            <li class="list-group-item super_add super_{{ supergrupo.ref }}">{{ supergrupo.nombre }} <a href="" class="agregar" data-producto-id="{{ producto.plu }}" data-supergrupo-ref="{{ supergrupo.ref }}"><span class="glyphicon glyphicon-plus"></span></a></li>
        {% endfor %}
    </ul>
    <br>

    <h3>Eliminar</h3>
    <ul class="list-group">
        {% for supergrupo in producto.supergrupos %}
            <li class="list-group-item super_delete">{{ supergrupo.nombre }} <a href="" class="eliminar" data-producto-id="{{ producto.plu }}" data-supergrupo-ref="{{ supergrupo.ref }}"><span class="glyphicon glyphicon-trash"></span></a></li>
        {% endfor %}
    </ul>
</div>
<script>
    //var server = 'http://localhost:8081';
    var server = 'https://us-central1-oxxo-dev.cloudfunctions.net/api';
    $(function () {
        $('.super_delete a').each(function () {

            $('.super_'+$(this).data('supergrupo-ref')).remove();
        });
        $('.eliminar').click(function (e) {
            e.preventDefault();
            $('.loader').show();
            $('.general').hide();
            console.log('click');
            var producto_id = $(this).data('producto-id');
            var ref = $(this).data('supergrupo-ref');
            $.post( server+"/auth/eliminarsupergrupo", { producto_id: producto_id, ref_id: ref })
                .done(function( data ) {
                    window.location.reload();
                });
        });
        $('.agregar').click(function (e) {
            e.preventDefault();
            $('.loader').show();
            $('.general').hide();
            console.log('click');
            var producto_id = $(this).data('producto-id');
            var ref = $(this).data('supergrupo-ref');
            $.post( server+"/auth/add-producto-supergrupo", { producto_id: producto_id, ref_id: ref })
                .done(function( data ) {
                    window.location.reload();
                });
        });
    })
</script>
</body>
</html>
