{% extends 'base_new.html.twig' %}

{% block body %}
    {% set route = app.request.attributes.get('_route') %}
    {% set params = app.request.attributes.get('_route_params') %}
<div class="full_banner">
    <div class="mitad">
        <h1>
            {{ qi.texto('bienvenido_banner') }}
        </h1>
    </div>
    <div class="mitad">
        <img src="{{ qi.imagen('banner_home').image }}" alt="Bienvenido">
    </div>
</div>
<div class="wrap_page">
    <h1>CATEGORÍAS DE PRODUCTO</h1>
    <ul class="cats">
        {% for item in categorias %}
            <li>
                <a href="{{ path('categorias_notienda', {categoria_id: item.id}) }}">
                    <img src="{{ item.imagen }}" alt="">
                    <span>{{ item.nombre }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <h3>PRODUCTOS DESTACADOS</h3>
    {#<div class="buscador">
        <form action="{{ path(route , params) }}" method="get">
            <input class="form-control" type="text" name="query" placeholder="Buscar productos" value="{{ query }}"/>
        </form>
    </div>#}
    <section class="cont_tiendas">
        {% for item in productos %}
            <div class="tienda">
                <div class="list-content">
                    <div class="cont_img">
                        <img src="{{ item.imagen }}" alt="{{ item.nombre }}">
                    </div>
                    <h4>{{ item.nombre }}</h4>
                    <div class="opts">
                        <p>${{ item.precio | number_format }}</p>
                        <div class="cart_opt">
                            <div class="cont_circ inumber-decrement unselectable">
                                <img src="{{ asset('img/icon/minus.svg') }}" alt="">
                            </div>
                            <span id="cant_{{ item.plu }}" data-id="{{ item.plu }}">1</span>
                            <div class="cont_circ inumber-increment unselectable">
                                <img src="{{ asset('img/icon/plus.svg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <a  data-id="{{ item.plu }}" class="btn agregar">AGREGAR</a>
                </div>
            </div>
        {% endfor %}

    </section>
</div>
<div class="loader-wrapper" id="loader-1" style="display: none">
    <div id="loader"></div>
</div>
<div id="snackbar">Producto agregado</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(".inumber-decrement").click(function(){
            var actual = $(this).next().html();
            if(actual > 1)
                actual--;
            $(this).next().html(actual);
        })

        $(".inumber-increment").click(function(){
            var actual = $(this).prev().html();
            actual++;
            $(this).prev().html(actual);
        })

        $(".agregar").click(function(){
            console.log("agregar");
            var cantidad = $("#cant_"+$(this).data('id')).html();
            var producto =  $(this).data('id');
            var wish = 0;
            console.log("cant",cantidad,$(this).data('id'))
            if(cantidad > 0){
                $('.loader-wrapper').show();
                $.ajax({
                    method: "POST",
                    url: '/add-to-carrito',
                    contentType: "application/json",
                    accept: "application/json",
                    dataType: "json",
                    data: JSON.stringify({ cantidad: cantidad, producto: producto,wish:wish })
                })
                .done(function( msg ) {
                    $('.loader-wrapper').hide();
                    console.log(msg);
                    if(msg.ok && wish == ""){
                        $("#badge_carrito").html(msg.carrito);
                        showToast();
                    }else{
                        showToast(msg.mensaje);
                    }
                });
            }else{
                showToast('la cantidad tiene que ser mayor a cero');
            }

        })

        function showToast(msg = 'Producto agregado') {
            var x = document.getElementById("snackbar");
            x.innerText = msg;
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3500);
        }
    </script>
{% endblock %}

