{% trans_default_domain 'FOSUserBundle' %}

<div class="container py-5">
    <div class="title-d">
        <h2>INGRESA TU NUEVA CONTRASEÑA</h2>
    </div>
</div>

<div class="container">
    <div class="col-lg-8 offset-lg-2">
        {{ form_start(form, { 'action': path('reset-iridian'), 'attr': { 'class': 'fos_user_registration_register' } }) }}
            {{ form_widget(form) }}
            <div class="form-group w-100">
                <input type="submit btn" value="{{ 'change_password.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>