{% extends 'base.html.twig' %}

{% block body %}
    {#{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}#}
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Bienvenido a Veci</h2>
                            <p>Home <span>-</span> Login</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Ya tienes cuenta?</h2>
                            <p>&nbsp;</p>
                            <a href="{{path('login')}}" class="btn_3">Ingresar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form reg_part_form">
                        <div class="login_part_form_iner">
                            <h3>Datos de registro</h3>
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'row contact_form'}}) }}
                                <div class="my-custom-class-for-errors">
                                    {{ form_errors(form) }}
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    {{ form_row(form.nombre) }}
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    {{ form_row(form.apellido) }}
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    {{ form_row(form.email) }}
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    {{ form_row(form.plainPassword.first) }}
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    {{ form_row(form.plainPassword.second) }}
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <div class="form-check d-flex justify-content-start align-items-center ">
                                        <input type="checkbox" id="acepto" name="acepto" required="required" class="form-check-input mr-1 mr-md-2" value="1"/>
                                        <label class="form-check-label p-0  mr-1 mr-md-2 " for="acepto">Acepto
                                            <a href="{{ path('terminos') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_terminos_condiciones') }}</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <div class="form-check d-flex justify-content-start align-items-center">
                                        <input type="checkbox" id="" name="" required="required" class="form-check-input mr-1 mr-md-2" value="1"/>
                                        <label class="form-check-label p-0  mr-1 mr-md-2" style="display: inline-block !important;" for="">Acepto
                                            <a href="{{ path('privacidad') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_politicas') }}</a> y
                                            <a href="{{ path('privacidad') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_autorizacion_datos') }}</a>
                                        </label>
                                    </div>
                                </div>


                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3">
                                        Registrarme
                                    </button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
{% block javascripts %}
{% endblock %}

