$principal : #f90b0b;
$secundario: #67b2b1;
$terciario: #fcdd73;
$cuartario: #dc843c;
$gris: #6b6b6b;
$gris_claro: #c4c4c4;
$gris_claro_textos: #909090;

$color_1: rgba(241, 187, 82, 0.35);
$color_2: #f1bbe1;
$color_3: #beb6f1;
$color_4: #9fdaf1;
$color_5: #93f1ca;
$color_6: #eef1b3;
//veci
$color_1: none;
$color_2: none;
$color_3: none;
$color_4: none;
$color_5: none;
$color_5: none;
$color_6: none;

$font_family_cuerpo: 'Roboto', sans-serif;
$font_family_titulos: 'Quicksand', sans-serif;


/*
$principal : #3c647e;
$secundario: #fdfbd2;
$terciario: #fdfbd2;
$cuartario: #dc843c;
$gris: #6b6b6b;
$gris_claro: #c4c4c4;
$gris_claro_textos: #909090;

*/
$logo: '/img/back/logo.png';
//$logo: '/img/back/logo_mim.jpg';
$ancho-logo: 80px;
