@import "variables";
body {
  /*background-image: url("../img/back/back.png");*/
  background: $principal;
  background-size: contain;
}

.navbar-custom-menu .user {
  color: white;
}

.main-sidebar {
  background: none;
}

.sidebar-menu {
  a {
    color: white;
  }

  .fa {
    color: white;
    filter: opacity(1);
  }
}

.treeview-menu a .fa {
  color: white;
  filter: opacity(1);
}

.sidebar-menu li:not(.submenu-active).active {
  .fa, a {
    color: white;
  }
}

.content-header-title .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4vw;
}

datagrid thead a, .datagrid thead span {
  text-transform: uppercase;
}

.table {
  thead th {
    border-bottom: 3px solid #b01a1a;
  }

  td, th {
    border-top: none;
  }
}

.content-body {
  .form-horizontal, form {
    background: none;
  }
}

.table {
  background: none;
}

.datagrid {
  td, th {
    border-bottom: 2px solid #bbbdbf;
  }
}

.content-header {
  border-bottom: none;
}

.table thead th {
  background-color: white;
}

.btn-primary {
  background-color: #b01a1a;

  &:hover {
    background-color: #b01a1a;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      background-color: #b01a1a;

      &:focus {
        background-color: #b01a1a;
      }
    }

    &:focus {
      background-color: #b01a1a;
    }
  }
}

.datagrid thead .sorted i {
  color: #b01a1a;
}

.table td {
  &:first-child, &:last-child {
    vertical-align: middle;
  }

  &.integer:first-child {
    font-size: 1.4vw;
    color: #b01a1a;
  }
}

.raw table {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.db_menu{
  .treeview-menu{
    a{
      .fa{
        width: 25px;
          img{
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}
.logo_back{
  width: 70px;
  height: 70px;
  background: url($logo) no-repeat left top;
  background-size: contain;
}
