@include breakpoint(desktop){

}
@include breakpoint(biglaptop) {
  body{
    background-color: $color_1;
  }
}
@include breakpoint(laptop){
  body{
    background-color: $color_2;
  }
}
@include breakpoint(tablet) {
  body{
    background-color: $color_3;
  }

}
@include breakpoint(phablet) {
  body{
    background-color: $color_4;
  }

}
@include breakpoint(mobileonly) {
  body{
    background-color: $color_5;
  }
  header {
    height: 100px;
  }
  .menue {
    display: none;
  }
  .menu-mobile {
    display: block !important;
  }
  .logo {
    left: 65px !important;
  }
  .menue {
    width: 100% !important;
    padding: 10px !important;
    box-sizing: border-box;
    position: relative;
    top: 100px;
    background: #f3dc7a;
    a {
      width: 100%;
      display: block;
      margin: 0 !important;
      box-sizing: border-box;
      color: $principal !important;
      border-bottom: 1px solid #dccb84;
    }
  }
}
@include breakpoint(mobileland){
  body{
    background-color: $color_6;
  }
}
