@include breakpoint(desktop){

}
@include breakpoint(biglaptop) {
  body{
    background-color: $color_1;
  }
}
@include breakpoint(laptop){
  body{
    background-color: $color_2;
  }
}
@include breakpoint(tablet) {
  body{
    background-color: $color_3;
  }

}
@include breakpoint(phablet) {
  body{
    background-color: $color_4;
  }

}
@include breakpoint(mobileonly) {
  body{
    background-color: $color_5;
  }
  .box-main{
    display: inline-block;
    width: 100%;
    .inner-content-main{
      display: inline-block;
      width: 100%;
    }
    .content-btn{
      a{
        display: inline-block;
        width: 100%;
      }
    }
  }
  .box-main .inner-content-main .content-main .inner-content-main-content .content-btn .btn-checkout{
    display: inline-block;
    width: calc(100% - 20px);
  }
  .count {
    width: 100% !important;
  }
  .minus, .plus {
  display: none;
  }
  .colu {
    font-size: 3vw;
  }
  .responsive {
    display: none;
  }

  .antiresponsive {
    display: block;
  }

}
@include breakpoint(mobileland){
  body{
    background-color: $color_6;
  }
  .count {
    width: 100% !important;
  }
  .minus, .plus {
  display: none;
  }

}
