@include breakpoint(desktop){

}
@include breakpoint(biglaptop) {
  body{
    background-color: $color_1;
  }
  .wrap{
    margin-top: 30px;
    .half{
      h2{
        margin: 0 15px;
      }
      form{
        width: 80%;
        .form-control{
          font-size: 0.9vw;
        }
        .form-group{
          margin-top: 10px;
          .remember, .lost_pass{
            width: 100%;
            text-align: left;
          }
          .lost_pass{
            margin-top: 9px;
          }
          &.em{
            margin-top: 20px;
          }
        }
      }
    }
  }

}
@include breakpoint(laptop){
  body{
    background-color: $color_2;
  }
  .wrap .half form .cont_5 input, .wrap .half form .cont_5 i {
    width: 18%;
  }
}
@include breakpoint(tablet) {
  body{
    background-color: $color_3;
  }
  header h1 {
    font-size: 4vw;
  }
  .wrap{
    width: 100%;
    .half{
      .form-control{
        font-size: 1.3vw;
      }
    }
  }
  .form-control {
    font-size: 1.5vw;
  }
  button, .btn {
    font-size: 1.3vw;
  }

}
@include breakpoint(phablet) {
  body{
    background-color: $color_4;
  }
  .s_head{
    display: none;
  }
  .wrap{
    /*min-height: calc(100vh - 12vh - 21vh - 60px);*/
    .half{
      width: 100%;
      h2{
        font-size: 2.8vw;
      }
      &:last-child{
        display: none;
      }
      form{
        .form-control{
          font-size: 1.9vw;
        }
      }
    }
  }
  .form-control {
    font-size: 1.7vw;
  }
  button, .btn {
    font-size: 1.9vw;
  }

}
@include breakpoint(mobileonly) {
  body{
    background-color: $color_5;
  }

  header h1 {
    font-size: 4.5vw;
  }
  .form-control {
    font-size: 2.1vw;
  }
  button, .btn {
    font-size: 2.5vw;
  }
  .wrap{
    .half{
      h2{
        font-size: 4.3vw;
      }
      form{
        .form-control{
          font-size: 2.5vw;
        }
      }
    }
  }

}
@include breakpoint(mobileland){
  body{
    background-color: $color_6;
  }

}
