@import "variables";
@import "mixins.scss";
@import "reset.scss";
@import "general.scss";
@import "menu";

.resposive {
  display: block;
}
.antiresponsive {
  display: none;
}

.box-main {
  position: relative;
  left: 0;
  width: 100%;
  padding-top: 60px;
  top: -60px;
  margin-bottom: -60px;
  min-height: 550px;
  display: table;
  img {
    width:100%;
  }
  .inner-content-main {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    box-sizing: border-box;
    .pedido_ok_main {
      width: 50%;
    }
    .content-main {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      background: white;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 6px 7px rgba(0,0,0,0.3);
      .title-main-cart {
        position: absolute;
        top: -50px;
        color: white;
        left: 0px;
        width: 100%;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 23px;
      }
      .back-item {
        position: absolute;
        top: -58px;
        color: white;
        left: 0px;
        width:40px;
        z-index: 5;
      }
      .pedido_ok {
        .text {
          position: relative;
          text-align: center;
          margin-bottom: 25px;
        }
        .icon {
          position: relative;
          width: 50px;
          margin: 0 auto;
        }
      }
      .volvertienda {
        position: absolute;
        color: white;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: -70px;
        font-size: 12px;
        .icon {
          position: relative;
          width: 30px;
          margin: 0 auto;
        }
      }
      .inner-content-main-content {
        width: 100%;
        .direccion-box {
          width: 100%;
          color: gray;
          text-align: center;
          cursor: pointer;
          .dirs {
            border: 1px solid #cccccc;
            display: inline-block;
            padding: 8px 10px;
            margin-top: 5px;
            border-radius: 10px;
            .icon-dirs {
              float: right;
              width: 14px;
              margin-left: 10px;
            }
            &:hover {
              color: #b3b3b3;
            }
          }
        }
        .list-item-cart {
          padding:10px;
          .header-table {
            position: relative;
            .colu {
              padding: 10px;
              font-weight: bold;
            }
          }
          .content-table {
            position: relative;
            .colu {
              padding: 10px;
              height: 150px;
              line-height: 150px;
              span.text {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
              }
            }
            .img {
              img {
                object-fit: contain;
                height: 100%;
              }
            }
            .cants {
              text-align: center;
              .minus, .count, .plus {
                float: left;
                width: 20%;
              }
              .count {
                width: 60%;
                position: relative;
                top: -13px;
                input {
                  width: 100%;
                  text-align: center;
                  border: 0;
                  font-size: 20px;
                }
              }
              .plus {
                width: 20%;
              }
            }
            .delete-cart {
              position: absolute;
              top: 78px;
              right: -8px;
              width: 15px;
            }
            .item-r {
              padding: 10px;
              height: 150px;
              line-height: 150px;
              width: 75%;
              float: left;
              box-sizing: border-box;
              span.text {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                .pro-r {font-weight: bold}
                .cant-r {}
                .precio-r { color: $principal;}
              }

            }

            border-bottom: 1px solid #cecece;
          }
          .footer-table {
            margin-top: 25px;
            color: gray;
            .iconf {
              width: 30px;
              filter: grayscale(1);
              float: left;
              position: relative;
              top: -7px;
              margin-right: 5px;
            }
            .total-cart {
              color: black;
              font-weight: bold;
              font-size: 18px;
              text-align: right;
            }
          }
          .comentarios {
            padding: 10px;
            textarea {
              margin-top: 4px;
              font-size: 15px;
            }
          }
        }
        .content-btn {
          position: relative;
          padding-top: 25px;
          .btn-checkout {
            position: relative;
            background: $principal;
            width: 300px;
            text-align: center;
            color: white;
            padding: 10px;
            font-size: 18px;
            border-radius: 10px;
            margin: 0 auto;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.center {
  text-align: center;
}

.colu {
  float: left;
  box-sizing: border-box;
}
.colu25 {
  width: 25%;
}

.colu50 {
  width: 50%;
}

.nopro {
  text-align: center;
}

.colu100 {
  width: 100%;
}

@import "breakpoints_carrito";
@import "footer";

