@import "variables";
@import "mixins.scss";
@import "reset.scss";
@import "general.scss";
@import "menu";

$cont_display: 'none';
body{
    background-color: $principal;
}
.wrap{
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 1;
    .cont{
        display: none;
        width: 89%;
        margin: auto;
    }
    .half{
        display: inline-block;
        width: 49.5%;
        vertical-align: middle;
        .banner_img{
            display: inline-block;
            width: 100%;
        }
        .o_class{
            color: white;
            font-size: 2vw;
            font-weight: bold;
            margin-bottom: 20px;
        }
        label{
            color: white;
        }
        form{
            .form-control{
                background-color: $principal;
                color: white;
                border-color: white;
                text-align: center;
                font-size: 0.7vw;
                font-family: 'Quicksand', sans-serif;
                letter-spacing: 6px;
            }
            .form-group{
                display: inline-block;
                width: 100%;
                margin-top: 20px;
                text-align: left;
                label{
                    display: inline-block;
                    width: 22%;
                    font-weight: bold;
                    color: white;
                    text-align: right;
                }
                &.em{
                    margin-top: 57px;
                }
                .btn{
                    margin-top: 20px;
                }
                .form-control{
                    /*margin-top: 21px;*/
                    border-radius: 0;
                    border: none;
                    border-bottom: 1px solid white;
                    padding: 0;
                    margin-left: 3%;
                    width: 73%;
                    letter-spacing: 2px;
                    &.dir{
                        width: 100%;
                        margin-left: 0;
                    }
                }
                .remember{
                    label{
                        width: auto;
                    }
                }
            }

            .cont_5{
                display: inline-block;
                width: 100%;
                input,i{
                    display: inline-block;
                    width: 19%;
                    color: white;
                }
                input{
                    border-radius: 0;
                    border: none;
                    border-bottom: 1px solid white;
                    padding: 0;
                }

            }
        }
    }
}
#map_canvas{
    width: 100%;
    height: 500px;
    @include border-radius(15px);
}
input::placeholder {
    color: #aaa;
}

::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
    color: #aaa;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
}
:-ms-input-placeholder {  /* Edge/IE 10+ */
    color: #aaa;
}
#crear{
    margin-bottom: 20px;
}
form{
    display: inline-block;
    width: 60%;
}
.filler{
    display: inline-block;
    width: 100%;
    background-color: white;
    height: 2px;
    margin-top: 30px;
}
@import "breakpoints_dir";
@import "footer";
