@import "variables";
@import "mixins.scss";
@import "reset.scss";
@import "general.scss";

.loader-wrapper{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: white;

}
.social{
    display: inline-block;
    width: 100%;
    text-align: center;
    a{
        display: inline-block;
        margin: 0 10px;
    }
}
.top{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    img{
        display: inline-block;
        max-width: 100%;
    }
}
.wrap{
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex: 1;
    /*min-height: calc(100vh - 142px - 195px - 38px - 60px);*/
    .half{
        display: inline-block;
        width: 49.5%;
        vertical-align: top;
        .banner_img{
            display: inline-block;
            width: 100%;
        }
        &.bl{
            border-left: 1px solid $gris_claro;
        }
        &.br{
            border-right: 1px solid $gris_claro;
        }
        h2{
            text-align: center;
            text-transform: uppercase;
            color: $principal;
            margin: 30px 0;
            font-size: 1.2vw;
        }
        form{
            margin-top: 20px;
            .form-group{
                display: inline-block;
                width: 100%;
                margin-top: 20px;
                &.em{
                    margin-top: 57px;
                }
                .remember,.lost_pass{
                    display: inline-block;
                    width: auto;
                }
                .remember{
                    float: left;
                }
                .lost_pass{
                    float: right;
                }
                .btn{
                    margin-top: 20px;
                }
            }
        }
    }
}
.terminos{
    color: $principal;
    a{
        color: $principal;
        font-weight: bold;
    }
}
form{
    display: inline-block;
    width: 50%;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
@import "breakpoints_login";
@import "footer";
