

header {
  width: 100%;
  margin-bottom: 60px;
  background-color: $principal;
  position: relative;
  z-index: 99;
  .logo{
    position: absolute;
    top: 7px;
    left: 20px;
    width: $ancho_logo;
    img{
      width: 100%;
    }
  }
  .menu-mobile {
    display: none;
    position: absolute;
    top: 28px;
    left: 20px;
    width: 45px;
    img {
      width: 100%;
    }
  }
  .menu-open-dos {
    display: block !important;
  }
  .icons-header {
    position: absolute;
    right: 20px;
    top: 30px;
    .icon-header {
      position: relative;
      width: 35px;
      float: left;
      margin-left: 14px;
      cursor: pointer;
      img {
        width: 100%;
      }
      .cart {
        width: 125%;
        position: relative;
        top: -10px;
      }
      .badge {
        position: absolute;
        top: -5px;
        left: 29px;
        z-index: 1;
        color: $principal;
      }
    }
    .usuario-tool {
      .user-menu {
        font-family: "Quicksand", sans-serif;
        position: absolute;
        top: 45px;
        right: 20px;
        background: white;
        padding: 10px;
        border-radius: 10px;
        width: 150px;
        display: none;
        box-shadow: 0 4px 5px rgba(0,0,0,0.3);
        .item-user-menu {
          position: relative;
          padding: 10px 0;
          img {
            width: 12px;
            margin-right: 10px;
          }
          &:hover {
            color: $principal;
          }
        }
        .item-user-line {
          background: gainsboro;
          height: 1px;
        }
      }

    }
    .arrow-left {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 28px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 20px solid white;
      top: -10px;
      right: 0px;
    }
    .menu-open {
      .user-menu {
        display: block;
      }
    }
  }
}
div.container {
  margin: 0 auto;
  padding: 2.4em 3em;
  text-align: center;
  a {
    text-transform: uppercase;
    font-family: $font_family_cuerpo;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
}
div.borderXwidth {
  a {
    &:before {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 2px;
      content: '';
      background: #FFF;
      transition: all 0.3s;
      left: 0;
      top: 0;
    }
    &:after {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 2px;
      content: '';
      background: #FFF;
      transition: all 0.3s;
      right: 0;
      bottom: 0;
    }
    &:hover {
      &:before {
        opacity: 1;
        width: 100%;
      }
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

@import "breakpoints_menu";
