@import "variables";
@import "mixins.scss";
@import "reset.scss";
@import "general.scss";
@import "menu";

.full_banner{
  display: inline-block;
  width: 100%;
  padding-bottom: 21px;
  text-align: center;
  border-bottom: 4px solid $principal;
  .mitad{
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    h1{
      font-size: 3vw;
      color: $principal;
      width: 50%;
      text-align: center;
      display: inline-block;
    }
    img{
      display: inline-block;
      width: 80%;
    }
  }
}
.wrap_page{
  margin: 0 auto;
  width: 60%;
  flex: 1;
  .agregar{
    cursor: pointer;
  }
  .dir{
    display: inline-block;
    width: 100%;
    p{
      color: $gris;
      text-align: center;
      font-family: $font_family_titulos;
      text-transform: uppercase;
      /*font-size: 1.9vw;*/
      letter-spacing: 3px;
      font-weight: bold;
    }
  }
  h1, h2, h3{
    color: $principal;
    text-align: center;
    margin-top: 40px;
    font-size: 1.4vw;
    text-transform: uppercase;
  }
  h3{
    font-size: 0.9vw;
  }
  .buscador{
    margin: 30px auto 0;
    width: 40%;
    text-align: center;
    form{
      width: 100%;
      display: inline-block;
    }
    .form-control{
      display: inline-block;
      width: calc(100% - 30px);
      border: solid 1px $gris;
    }
  }
  .cont_tiendas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .tienda{
      display: flex;
      /*flex: 1 0 20%;*/
      width: 20%;
      margin: 15px 2%;
      .list-content {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 0.2em;
        width: 100%;
        h2{
          width: calc(100% - 20px);
          background-color: $terciario;
          padding: 30px 10px;
          text-align: center;
          color: $cuartario;
          text-transform: uppercase;
          font-size: 0.7vw;
          font-family: $font_family_cuerpo;
          font-style: italic;
          flex: 1 0 auto;
          word-wrap: break-word;
          @include border-radius(20px 20px 0 0);
        }
        a{
          background-color: $principal;
          color: white;
          width: 100%;
          text-align: center;
          padding: 4px 0;
          font-family: $font_family_titulos;
          font-weight: bold;
          display: inline-block;
          text-decoration: none;
          font-size: 0.6vw;
          //flex: 1 0 auto;
        }
        .cont_img{
          flex: 1 0 auto;
          text-align: center;
          img{
            display: inline-block;
            max-width: 80%;
            max-height: 235px;
          }
        }
        h4,.opts{
          display: inline-block;
          width: 100%;
        }
        h4{
          font-size: 0.9vw;
          color: $gris_claro_textos;
          text-align: center;
          font-family: $font_family_cuerpo;
          letter-spacing: 0;
          flex: 1 0 auto;
          margin: 10px 0;
          font-weight: bold;
        }
        .opts{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 10px;
          p{
            flex: 1 0 auto;
            font-size: 0.8vw;
            font-family: $font_family_cuerpo;
            font-weight: bold;
          }
          .cart_opt{
            flex: 1 0 auto;
            text-align: right;
            width: 50%;
            span{
              width: 20px;
              color: $gris;
              font-size: 0.8vw;
              margin: 0 7px;
              vertical-align: super;
            }
            .cont_circ {
              display: inline-block;
              width: 20%;
              cursor: pointer;
              img{
                display: inline-block;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .cats{
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    vertical-align: top;
    text-align: center;
    li{
      display: inline-block;
      width: 8%;
      margin: 10px 1%;
      vertical-align: top;
      a{
        display: inline-block;
        width: 100%;
        &:hover{
          img{
            transform: scale(1.1);
          }
          span{
            color: red;
            margin-top: 10px;
          }
        }
        img{
          display: inline-block;
          width: 100%;
          @include border-radius(50%);
          background-color: $gris;
          transition: all .2s ease-in-out;
          &.active, &:hover{
            background-color: $principal;
          }
          &:hover {  }
        }
        span{
          transition: all .2s ease-in-out;
          display: inline-block;
          width: 100%;
          text-align: center;
          color: $gris;
          text-decoration: none;
          font-weight: bold;
          font-size: 0.8vw;
          margin-top: 5px;
        }
      }
      &.active{
        a{
          img{
            background-color: $principal;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: white;
  border: solid 1px $principal;
  color: $principal;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  @include border-radius(15px);

  &.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@import 'pagination';
@import "breakpoints_page";
@import "footer";

