body{
    background-image: url("../img/back/back.png");
    /*background-color: #3c647e;*/
    background-size: contain;
}
.navbar-custom-menu .user {
    color: white;
}
.main-sidebar {
    background: none;
}
.sidebar-menu a {
    color: white;
}
.sidebar-menu .fa,.treeview-menu a .fa {
    color: white;
    filter: opacity(1);
}
.sidebar-menu li:not(.submenu-active).active .fa, .sidebar-menu li:not(.submenu-active).active a {
    color: white;
}
.content-header-title .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4vw;
}
datagrid thead a, .datagrid thead span {
    text-transform: uppercase;
}
.table thead th {
    border-bottom: 3px solid #b01a1a;
}
.table td, .table th {
    border-top: none;
}
.content-body .form-horizontal, .content-body form,.table {
    background: none;
}
.datagrid td, .datagrid th {
    border-bottom: 2px solid #bbbdbf;
}
.content-header {
    border-bottom: none;
}
.table thead th {
    background-color: white;
}
.btn-primary, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled):focus {
    background-color: #b01a1a;
}
.datagrid thead .sorted i {
    color: #b01a1a;
}
.table td:first-child,.table td:last-child {
    vertical-align: middle;
}
.table td.integer:first-child {
    font-size: 1.4vw;
    color: #b01a1a;
}
.raw table{
    background-color: #e0e0e0;
    border-radius: 10px;
}
