{% extends "base.html.twig" %}

{% block body %}

    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Revisa tu email</h2>
                            <p>Home <span>-</span> Revisa tu email</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner text-center">
        <div class="border-brown-3 p-4 d-flex justify-content-center align-items-center terminos-condiciones">
            <div>
                <h2><i class="far fa-envelope"></i></h2>
                <p>
                    Un correo electronico ha sido enviado. Contiene un enlace en el que debe hacer clic para restablecer su contraseña.
                    Nota: Solo puede solicitar una nueva contraseña una vez dentro de 2 horas.

                </p>
                <p>
                    Si no recibe un correo electrónico, revise su carpeta de correo no deseado o intente nuevamente.
                </p>
            </div>
        </div>
    </section>

{% endblock %}
