{% trans_default_domain 'FOSUserBundle' %}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Olvidaste tu contraseña</h2>
                        <p>Home <span>-</span> Se me olvidó</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Olvidaste tu contraseña?</h2>
                        <p>No te preocupes, nos pasa a todos</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Datos de recuperación de contraseña</h3>
                        <form class="row contact_form"  action="{{ path("reset-iridian") }}" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <p>Ingresa tu correo</p>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" name="username" placeholder="Email"/>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">
                                    Recuperar contraseña
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


