{% extends 'base_dir.html.twig' %}

{% block body %}
    <section class="wrap">
        <div class="half">
            {% if app.user %}
                {% if direcciones | length > 0 %}
                    <form action="" id="form" novalidate method="post">
                        <select class="form-control" id="anterior" required="required">
                            <option value="0">USA UNA DE TUS DIRECCIONES</option>
                            {% for d in direcciones %}
                                <option value="{{ path('set-direccion',{'id':d.id}) }} }}">{{ d.nombre }} | {{ d.direccion }}</option>
                                {#<a href="{{ path('set-direccion',{'id':d.id}) }}">{{ d.nombre }}</a>#}
                            {% endfor %}
                        </select>
                    </form>
                    <p class="o_class">ó</p>
                {% endif %}
                <form class="row contact_form" action="{{ path('add-direccion') }}" method="post" >
                    <a class="btn" href="#" id="crear">
                        CREAR UNA NUEVA DIRECCIÓN
                    </a>
                    <div class="cont">
                        <div class="form-group dir">
                            <label for="tipo">Dirección:</label>
                            <select class="form-control dir" name="direccion[tipocalle]" id="tipo" required="required">
                                <option  value="Avenida">Avenida</option>
                                <option  value="Avenida calle">Avenida calle</option>
                                <option  value="Avenida carrera">Avenida carrera</option>
                                <option  value="Calle">Calle</option>
                                <option  value="Carrera">Carrera</option>
                                <option  value="Circular">Circular</option>
                                <option  value="Circunvalar">Circunvalar</option>
                                <option  value="Diagonal">Diagonal</option>
                                <option  value="Manzana">Manzana</option>
                                <option  value="Tranversal">Tranversal</option>
                                <option  value="Via">Via</option>
                            </select>
                        </div>
                        <div class="cont_5">
                            <input type="text" class="form-control" id="direccion_base" placeholder="153" name="direccion[base]" required="required">
                            <i class="indicador_dir">#</i>
                            <input type="text" class="form-control" id="direccion_numero" name="direccion[numero]" placeholder="50" required="required">
                            <i class="indicador_dir">-</i>
                            <input type="text" class="form-control" id="direccion_detalle" name="direccion[detalle]" placeholder="30" required="required">
                        </div>

                        <div class="form-group">
                            <label for="info">Apto/Casa:</label>
                            <input type="text" id="info" class="form-control" placeholder="Ingresa información adicional" name="direccion[adicional]">
                        </div>
                        <div class="form-group">
                            <label for="nombres">Alias:</label>
                            <input type="text" class="form-control" id="nombres" name="direccion[nombre]" placeholder="Nombre para esta dirección">
                        </div>

                        <div class="form-group">
                            <label for="ciudad">Ciudad:</label>
                            <select name="ciudad" id="ciudad" class="form-control">
                                <option value="0">Seleccionar</option>
                                <option value="1">Bogotá</option>
                                <option value="2">Medellín</option>
                                <option value="3">Barranquilla</option>
                                <option value="4">Cali</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="remember">
                                <input type="checkbox" id="f-option" name="selector">
                                <label for="f-option">Dirección predererminada</label>
                            </div>
                        </div>
                        <div class=" form-group">
                            <input type="hidden" name="direccion[lat]" id="lat" required="required">
                            <input type="hidden" name="direccion[lng]" id="lng" required="required">
                            <input type="hidden" name="direccion[ciudad_id]" id="1">
                            <input type="hidden" name="direccion[usuario_id]" values="{{ app.user.id }}">
                            <input type="hidden" name="direccion[uid]" values="{{ app.user.uid }}">


                            <button type="submit" class="btn a_btn">
                                AGREGAR DIRECCIÓN
                            </button>
                        </div>
                    </div>
                </form>
            {% else %}

            {% endif %}

        </div>
        <div class="half">
            <div class="form-group">
                <label>Si no es tu ubicacion puedes ajustarla manualmente, de lo contrario puedes continuar</label>
                <div class="col-md-12" id="map_canvas"></div>
            </div>
        </div>
        {#<div class="filler"></div>#}
    </section>
{% endblock %}

{% block javascripts %}

        <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow,miMarker ;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 16
            });
            infoWindow = new google.maps.InfoWindow;

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    //infoWindow.setContent('Location found.');
                    //infoWindow.open(map);
                    map.setCenter(pos);
                    document.getElementById("lat").value=pos.lat;
                    document.getElementById("lng").value=pos.lng;

                    miMarker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: 'Mi ubicación'
                    });
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }

            map.addListener('drag', function() {
                var data = map.getCenter();
                console.log("moviendo mapa",data);
                if(data){
                    miMarker.setPosition(data);
                }

            });

            map.addListener('dragend', function() {
                var data = map.getCenter();
                console.log("moviendo mapa",data);
                if(data){
                    miMarker.setPosition(data);
                    document.getElementById("lat").value=data.lat();
                    document.getElementById("lng").value=data.lng();
                }

            });

        }



        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            pos = {'lat':4.652390,'lng':-74.103009};
            miMarker = new google.maps.Marker({
                position: pos,
                map: map,
                title: 'Mi ubicación'
            });
            map.setCenter(pos);
            document.getElementById("lat").value=pos.lat;
            document.getElementById("lng").value=pos.lng;

        }
    </script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBuBfixcvfxmRdACJEiyb3tqw8PeCjM8I&callback=initMap">
</script>
{% endblock %}

