{% extends 'base_carrito.html.twig' %}


{% set subtotal=0 %}
{% set impuestos = 0 %}
{% set cant = 0 %}
{% block body %}

    <div class="box-main back-main" style="background: url({{ qi.imagen('texture_fondo').image }})">
        <div class="inner-content-main">
            <div class="content-main">
                <a href="{{ path('categorias',{id:qi.tienda.id}) }}"><div class="back-item"><img src="{{ asset('img/icon/back.svg') }}" alt=""></div></a>
                <div class="title-main-cart">EL ENCARGO</div>
                <div class="inner-content-main-content">
                    <form action="{{ path('pedir') }}" method="post" id="formulario">
                        {% if qi.carrito | length != 0 %}
                            <div class="direccion-box">
                                Entregar en <br>
                                <div class="dirs">
                                    {{ qi.direccion.direccion }}
                                    <div class="icon-dirs">
                                        <a href="{{ path('misdirecciones') }}"><img src="{{ asset('img/icon/editar.svg') }}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    <div class="list-item-cart">
                        {% if qi.carrito | length != 0 %}
                        <div class="header-table clearfix">
                            <div class="colu colu25"> &nbsp; </div>
                            <div class="colu colu25 center">Producto</div>
                            <div class="colu colu25 center">Cantidad</div>
                            <div class="colu colu25 center">Precio</div>

                        </div>
                        {% endif %}
                        {% if qi.carrito | length == 0 %}
                        <div class="content-table clearfix">
                            <div class="colu colu100 nopro"> No hay productos en el carrito </div>
                        </div>
                        {% else %}
                        {% for item in qi.carrito %}
                            {% set cant = cant+1 %}
                            {% set preciobase = item.precio/( 1+(19/100) ) %}
                            {% set subtotal=subtotal+( ( preciobase )*item.cantidad) %}
                            {% set impuestos=impuestos+((preciobase * (19/100) ) *item.cantidad) %}

                            <div class="content-table clearfix">
                                <div class="colu colu25 img"> <img src="{{ item.producto.imagen }}" alt=""> </div>
                                <div class="colu colu25 center responsive"> <span class="text">{{ item.producto.nombre }}</span> </div>
                                <div class="colu colu25 cants center responsive">
                                    <span class="minus input-number-decrement" data-cant-id="{{ item.producto.plu }}"><img src="{{ asset('img/icon/minus.svg') }}" alt=""></span>
                                    <span class="count"><input class="input-number cantidad_prod" id="cantidad_prod_{{ item.producto.plu }}" data-id="{{ item.producto.plu }}"  type="text"  value="{{ item.cantidad }}" min="0" max="10"></span>
                                    <span class="plus input-number-increment" data-cant-id="{{ item.producto.plu }}"><img src="{{ asset('img/icon/plus.svg') }}" alt=""></span>

                                </div>
                                <div class="colu colu25 center responsive"> <span class="text">${{ (item.precio * item.cantidad) | number_format }}</span> </div>
                                <div class="antiresponsive item-r">
                                    <span class="text">
                                        <div class="pro-r">{{ item.producto.nombre }}</div>
                                        <div class="cant-r">x {{ item.cantidad }}</div>
                                        <div class="precio-r">${{ (item.precio * item.cantidad) | number_format }}</div>
                                    </span>
                                </div>

                                <a href="javascript:eliminar('{{ item.producto.id }}')" class="delete-cart" data-id="{{ item.producto.id }}"><img src="{{ asset('img/icon/close.svg') }}" alt=""></a>
                            </div>

                        {% endfor %}


                            {% if qi.setting('pago_contraentrega') == 1 and qi.setting('pago_online') == 1%}
                                <div class="comentarios">
                                    <label for="metodo">Método de pago</label>
                                    <select name="metodo" id="metodo" class="form-control" required>
                                        <option value="" selected>Selecciona el método de pago</option>
                                        <option value="2">Pago Online</option>
                                        <option value="1">Pago Contraentrega</option>
                                    </select>
                                </div>
                            {% elseif qi.setting('pago_online') == 1 %}
                                <input type="hidden" name="metodo" value="2">
                            {% else %}
                                <input type="hidden" name="metodo" value="1">
                            {% endif %}
                            <div class="comentarios">
                                <label for="comentarios">Comentarios</label>
                                <textarea name="comentarios" id="comentarios" class="form-control"></textarea>
                            </div>

                            <div class="footer-table clearfix">
                                <a href="{{ path('categorias',{id:qi.tienda.id}) }}">
                                    <div class="colu colu50"> <div class="iconf"><img src="{{ asset('img/icon/plus.svg') }}" alt=""></div> Agrega más productos a la bolsa</div>
                                </a>
                                <div class="colu colu50">
                                    <div class="total-cart">
                                        Total: ${{ (subtotal+impuestos)|number_format }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                        {% if qi.carrito | length != 0 %}
                            <div class="content-btn">
                                <a href="javascript:enviar()"><div class="btn-checkout" >Enviar Pedido</div></a>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function enviar(){
            console.log("enviar");
            $("#formulario").submit();
        }
        $(".cantidad_prod").change(function(){
            console.log("change cantidad");
            let cant = parseInt($(this).val());
            let id = $(this).data('id');
            window.location.href="/cambiar-cantidad/"+id+"/"+cant;
        });



        $(".input-number-decrement").click(function(){
            var elem = $("#cantidad_prod_"+$(this).data('cant-id'));
            var actual =elem.val();
            if(actual > 0) {
                actual--;
                elem.val(actual);
                elem.trigger('change');
            }
        })

        $(".input-number-increment").click(function(){
            var elem = $("#cantidad_prod_"+$(this).data('cant-id'));
            var actual =elem.val();
            if(actual > 0)
                actual++;
            elem.val(actual);
            elem.trigger('change');
        })

        function eliminar(id){
            var elem = $("#cantidad_prod_"+id);
            elem.val(0);
            elem.trigger('change');
        }


    </script>
{% endblock %}
