{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/price_rangs.css">
{% endblock %}
{% block body %}
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>{{ categoria.nombre }}</h2>
                            <p>Home <span>-</span> {{ categoria.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Categorías</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for item in categorias %}
                                    <li>
                                        <a href="{{path('categoria_id', { id: item.id,tiendaId:tienda.id })}}">{{ item.nombre }}</a>
                                        {#<span>(250)</span>#}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>
                        {#{{ include(':basic:filtros.html.twig') }}#}
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    <p><span>{{cant}} </span> Productos encontrados</p>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>short by : </h5>
                                    <select style="display: none;">
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select><div class="nice-select" tabindex="0"><span class="current">Select</span><ul class="list"><li data-value="name" data-display="Select" class="option selected">name</li><li data-value="1" class="option">price</li><li data-value="2" class="option">product</li></ul></div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <h5>show :</h5>
                                    <div class="top_pageniation">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search" aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center latest_product_inner">
                        {% for item in productos %}
                            <div class="col-lg-4 col-sm-6">

                                <div class="single_product_item">
                                    <a href="{{ path('producto', { 'id': item.producto.plu,'tiendaId':tienda.id })}}" >
                                    <img src="{{ item.producto.imagen }}" alt="">
                                    </a>
                                    <div class="single_product_text">
                                        <h4>{{ item.producto.nombre }}</h4>
                                        <h3>${{ item.precio|number_format }}</h3>
                                        <a href="{{ path('producto', { 'id': item.producto.plu,'tiendaId':tienda.id })}}" class="add_cart">Ver más</a>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                        {#<div class="col-lg-12">
                            <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="ti-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="ti-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="/js/stellar.js" type="text/javascript"></script>
    <script src="/js/price_rangs.js" type="text/javascript"></script>
{% endblock %}

