{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/lightslider.min.css">
{% endblock %}
{% block body %}
    {% set subtotal=0 %}
    {% set impuestos = 0 %}
    {% set cant = 0 %}
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Confirmación de pedido</h2>
                            <p>Home <span>-</span> Confirmación de pedido</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="confirmation_part padding_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="confirmation_tittle">
                        <span>Gracias, hemos recibido tu pedido.</span>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>Resumen del pedido</h4>
                        <ul>
                            <li>
                                <p>número de pedido</p><span>: {{ compra.id }}</span>
                            </li>
                            <li>
                                <p>Fecha</p><span>: {{ compra.fechaRealProcesamiento|date("d/m/Y") }}</span>
                            </li>
                            <li>
                                <p>total</p><span>: ${{ compra.total|number_format }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h4>Datos de envio</h4>
                        <ul>
                            <li>
                                <p>{{ compra.direccion.direccion }}</p><span> &nbsp;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="order_details_iner">
                        <h3>Detalle del pedido</h3>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th scope="col" colspan="2">Producto</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in productos %}
                                {% set cant = cant+item.cantidad %}
                                {% set preciobase = item.precio/( 1+(19/100) ) %}
                                {% set subtotal=subtotal+( ( preciobase )*item.cantidad) %}
                                {% set impuestos=impuestos+((preciobase * (19/100) ) *item.cantidad) %}
                                <tr>
                                    <th colspan="2"><span>{{ item.producto.nombre }}</span></th>
                                    <th>{{ item.cantidad }}</th>
                                    <th> <span>${{ item.precio|number_format }}</span></th>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th scope="col" colspan="2">Cantidad</th>
                                <th scope="col">{{ cant }}</th>
                                <th scope="col">${{ (subtotal+impuestos)|number_format }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
{% endblock %}

