{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner mini-banner swiper-container">
        {% for item in qi.galeria('banner-contacto') %}
            <div class="swiper-slide">
                <img class="d-block w-100" src="{{ product_images~item.image }}" alt="First slide">
            </div>
        {% endfor %}
    </div>
    <div class="p-4 bg-green d-flex justify-content-between">
        <ul class="breadcrumbs">
            <li><a href="{{ path('homepage') }}"><span>The Wharton Basin</span></a></li>
            <li><a><i class="fas fa-chevron-right"></i><span>Contacto</span></a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="container py-5">
                    <div class="title-d">
                        <div class="px-3 text-center">
                            <h2>CONTACTO</h2>
                            <h4>Encantados de saber ti </h4>
                        </div>
                    </div>
                </div>
                {% if gracias  %}
                <h3 id="el_gracias" class="call-popUp" data-info="alert" data-cont="{{ qi.texto('alerta-mesaje-enviado') }}" data-title="!" data-opcion="1">{{ qi.texto('gracias_contacto') }}</h3>

                {% else %}
                    <form class="form-g" method="post">
                        <div class="form-group d-inline-block d-md-flex justify-content-between align-content-center">
                            {{ form_widget(form.nombre,{'attr': {'class':"w-100 mb-3 mb-md-0 p-2",'placeholder': qi.texto('form_name_last_name')}}) }}
                            {{ form_widget(form.telefono,{'attr': {'class':"w-100 mb-3 mb-md-0 p-2 mx-md-3",'placeholder': qi.texto('form_cellphone')}}) }}
                            {{ form_widget(form.correo,{'attr': {'class':"w-100 mb-md-0 p-2",'placeholder': qi.texto('form_email')}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.mensaje,{'attr': {'class':"w-100 p-2",'placeholder': qi.texto('form_message')}}) }}
                        </div>
                        <div class="form-group">
                            <!--
                            clase boton: "call-popUp"

                            opciones

                            data-info: alert, gal, bigtext (tipo de popup)
                            data-cont: texto
                            data-title: ! para alerta, texto
                            data-opcion: 1 para mostra boton "seguir navegando", 2 para "cancelar" y "aceptar"
                            -->
                            <input type="submit" class="btn p-2 w-100 "  value="{{ qi.texto('form_send') }}"/>

                        </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

