{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block body %}
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Datos de envio</h2>
                            <p>Home <span>-</span> Datos de envio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="checkout_area padding_top">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="order_box">
                            <div id='map_canvas'></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Datos de envio</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <select class="country_select">
                                    <option value="1">Bogotá</option>
                                    <option value="2">Medellín</option>
                                    <option value="4">Cali</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="direccion" name="direccion">
                                <span class="placeholder" data-placeholder="Dirección"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="nombre" name="nombre">
                                <span class="placeholder" data-placeholder="Nombre de la dirección"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="company" name="company" placeholder="Company name">
                            </div>

                            <div class="col-md-12 form-group">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Datos adicionales"></textarea>
                            </div>

                            <input type="text" name="lat" id="lat"/>
                            <input type="text" name="lng" id="lng"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 13,
                center: new google.maps.LatLng(4.6956525, -74.0413221),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var myMarker = new google.maps.Marker({
                position: new google.maps.LatLng(4.6956525, -74.0413221),
                draggable: true
            });
            google.maps.event.addListener(myMarker, 'dragend', function(evt){
                //document.getElementById('current').innerHTML = '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>';
                var lat = document.getElementById("lat");
                var lng = document.getElementById("lng");
                lat.value = evt.latLng.lat();
                lng.value = evt.latLng.lng();
                //setLatLng(evt.latLng);
            });

            google.maps.event.addListener(myMarker, 'dragstart', function(evt){
                // document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
            });

            map.setCenter(myMarker.position);
            myMarker.setMap(map);
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBuBfixcvfxmRdACJEiyb3tqw8PeCjM8I&callback=initMap">
    </script>
{% endblock %}

