<aside class="left_widgets p_filter_widgets">
    <div class="l_w_title">
        <h3>Product filters</h3>
    </div>
    <div class="widgets_inner">
        <ul class="list">
            <li>
                <a href="#">Apple</a>
            </li>
            <li>
                <a href="#">Asus</a>
            </li>
            <li class="active">
                <a href="#">Gionee</a>
            </li>
            <li>
                <a href="#">Micromax</a>
            </li>
            <li>
                <a href="#">Samsung</a>
            </li>
        </ul>
        <ul class="list">
            <li>
                <a href="#">Apple</a>
            </li>
            <li>
                <a href="#">Asus</a>
            </li>
            <li class="active">
                <a href="#">Gionee</a>
            </li>
            <li>
                <a href="#">Micromax</a>
            </li>
            <li>
                <a href="#">Samsung</a>
            </li>
        </ul>
    </div>
</aside>
<aside class="left_widgets p_filter_widgets">
    <div class="l_w_title">
        <h3>Color Filter</h3>
    </div>
    <div class="widgets_inner">
        <ul class="list">
            <li>
                <a href="#">Black</a>
            </li>
            <li>
                <a href="#">Black Leather</a>
            </li>
            <li class="active">
                <a href="#">Black with red</a>
            </li>
            <li>
                <a href="#">Gold</a>
            </li>
            <li>
                <a href="#">Spacegrey</a>
            </li>
        </ul>
    </div>
</aside>
<aside class="left_widgets p_filter_widgets price_rangs_aside">
    <div class="l_w_title">
        <h3>Price Filter</h3>
    </div>
    <div class="widgets_inner">
        <div class="range_item">

            <span class="irs js-irs-0"><span class="irs"><span class="irs-line" tabindex="-1"><span class="irs-line-left"></span><span class="irs-line-mid"></span><span class="irs-line-right"></span></span><span class="irs-min" style="visibility: hidden;">tk. 0</span><span class="irs-max" style="visibility: visible;">tk. 1.000</span><span class="irs-from" style="visibility: visible; left: 0%;">tk. 0</span><span class="irs-to" style="visibility: visible; left: 39.1626%;">tk. 500</span><span class="irs-single" style="visibility: hidden; left: 9.48276%;">tk. 0 - tk. 500</span></span><span class="irs-grid"></span><span class="irs-bar" style="left: 3.69458%; width: 46.3054%;"></span><span class="irs-shadow shadow-from" style="display: none;"></span><span class="irs-shadow shadow-to" style="display: none;"></span><span class="irs-slider from" style="left: 0%;"></span><span class="irs-slider to type_last" style="left: 46.3054%;"></span></span><input type="text" class="js-range-slider irs-hidden-input" value="" readonly="">
            <div class="d-flex">
                <div class="price_text">
                    <p>Price :</p>
                </div>
                <div class="price_value d-flex justify-content-center">
                    <input type="text" class="js-input-from" id="amount" readonly="">
                    <span>to</span>
                    <input type="text" class="js-input-to" id="amount" readonly="">
                </div>
            </div>
        </div>
    </div>
</aside>
