<footer class="footer_part">
    <div class="wrap_foot">
        <div class="third ini">
            <div class="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ qi.imagen('logo_blanco').image }}" alt="">
                </a>
            </div>
            <div class="links">
                <a href="{{ path('privacidad') }}">Política de privacidad</a>
                <a href="{{ path('terminos') }}">Política de tratamientos de datos</a>
            </div>
        </div>
        <div class="third">
            <div class="social">
                <a href="" target="_blank"><img src="{{ asset('img/social/white/whatsapp.png') }}" alt=""></a>
                <a href="" target="_blank"><img src="{{ asset('img/social/white/instagram.png') }}" alt=""></a>
                <a href="" target="_blank"><img src="{{ asset('img/social/white/facebook.png') }}" alt=""></a>
            </div>
            <div class="inf">
                <p>Todos los derechos reservados</p>
            </div>
        </div>
        <div class="third fin">
            <a href="http://iridian.co" target="_blank"><img src="{{ asset('img/powered-by-iridian-cracks_WEB.png') }}" alt=""></a>
        </div>
    </div>
</footer>
