{% extends 'base.html.twig' %}

{% block body %}
<section class="feature_part padding_top">
    <div class="container">
        <div class="row ">
            <div id='map_canvas' style="width: 600px;height: 600px" class="col-md-12"></div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}

    <script>
        // Note: This example requires that you consent to location sharing when
        // prompted by your browser. If you see the error "The Geolocation service
        // failed.", it means you probably did not give permission for the browser to
        // locate you.
        var map, infoWindow ;
        var pos = {lat: -34.397, lng: 150.644};
        function initMap() {
            map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 12
            });
            infoWindow = new google.maps.InfoWindow;




            {% for t in tiendas %}
                pos = { lat: {{ t.lat }}, lng: {{ t.lng }} };
                var miMarker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    title: '{{ t.nombre }}'
                });
            map.setCenter(pos);
            {% endfor %}



        }




    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBuBfixcvfxmRdACJEiyb3tqw8PeCjM8I&callback=initMap">
    </script>
{% endblock %}
