{#<div class="social s_head">
    <a href="" target="_blank"><img src="{{ asset('img/social/whatsapp.png') }}" alt=""></a>
    <a href="" target="_blank"><img src="{{ asset('img/social/instagram.png') }}" alt=""></a>
    <a href="" target="_blank"><img src="{{ asset('img/social/facebook.png') }}" alt=""></a>
</div>#}
<div class="top">
    <img src="{{ qi.imagen('logo_top').image }}" alt="Veci">
</div>
