<header>
    <div class="menu-mobile">
        <img src="{{ asset('img/icon/menu.svg') }}" alt="">
    </div>
    <a href="#" class="logo">
        <img src="{{ qi.imagen('logo').image }}" alt="{{ qi.texto('nombre') }}"/>
    </a>
    <div class="container green borderXwidth menue">
        <a href="{{path('homepage')}}">Inicio</a>
        {% if (qi.direccion or qi.setting('registro_obligatorio') != '1') and qi.setting('muestra_tiendas') != '0' %}
            <a href="{{path('tiendas')}}">
                Tiendas
            </a>
        {% endif %}
        {% if qi.tienda and qi.setting('pedido_multitienda') != 1 %}
            <a class="nav-link dropdown-toggle" href="{{ path('categorias',{id:qi.tienda.id}) }}" id="navbarDropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Productos
            </a>
        {% else %}
            {% if qi.setting('registro_obligatorio') != '1' %}
                <a class="nav-link dropdown-toggle" href="{{ path('productos') }}" id="navbarDropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Productos
                </a>
            {% endif %}
        {% endif %}

    </div>
    <div class="icons-header">
        <div class="icon-header usuario-tool">
            <div class="user-menu">
                <div class="arrow-left"></div>
                {% if app.user %}
                <div class="item-user-menu">
                    <img src="{{ qi.imagen('icon_location').image }}" alt="">
                    <a class="dropdown-item" href="{{path('misdirecciones')}}">Mis direcciones</a>
                </div>
                <div class="item-user-line"></div>
                <div class="item-user-menu">
                    <img src="{{ qi.imagen('icon_shutdown').image }}" alt="">
                    <a class="dropdown-item" id="cerrar_sesion" href="#">Cerrar sesión</a>
                </div>
                {% else %}
                    <div class="item-user-menu">
                        <img src="{{ qi.imagen('icon_location').image }}" alt="">
                        <a class="dropdown-item" href="{{path('ingresar')}}">Ingresar</a>
                    </div>
                {% endif %}
            </div>
            <img src="{{ qi.imagen('icon_user').image }}" alt="">
        </div>
        {% if qi.tienda %}
        <div class="icon-header">
            <a href="{{ path('categorias',{id:qi.tienda.id}) }}">
                <img src="{{ qi.imagen('icon_search').image }}" alt="">
            </a>
        </div>
        {% endif %}
        <div class="icon-header">
            <a href="{{ path('carrito') }}">
                <div class="badge" id="badge_carrito">{{ qi.carritoLength }}</div>
                <img src="{{ qi.imagen('icon_cart').image }}" class="cart">
            </a>
        </div>
    </div>
</header>
