{% extends 'base_carrito.html.twig' %}


{% set subtotal=0 %}
{% set impuestos = 0 %}
{% set cant = 0 %}
{% block body %}

    <div class="box-main back-main"  style="background: url({{ qi.imagen('texture_fondo').image }})">
        <div class="inner-content-main ">
            <div class="content-main pedido_ok_main">
                {% if ok %}
                <div class="pedido_ok inner-content-main-content">
                    <div class="text">Tu pedido ha sido realizado</div>
                    <div class="icon">
                        <img src="{{ asset('img/icon/check-red.svg') }}" alt="">
                    </div>
                </div>
                {% else %}
                    <div class="pedido_ok inner-content-main-content">
                        <div class="text">ha ocurrido un problema,Tu pedido no ha sido realizado</div>
                        <div class="icon">
                            <img src="{{ asset('img/icon/check-red.svg') }}" alt="">
                        </div>
                    </div>
                {% endif %}
                <div class="volvertienda">
                    <div class="icon">
                    <a href="{{ path('categorias',{id:qi.tienda.id}) }}">
                        <img src="{{ asset('img/icon/back.svg') }}" alt="">
                    </a>
                    </div>
                    Volver a la tienda
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
