{% extends 'base.html.twig' %}

{% block body %}
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>{{ titulo }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner text-center d-flex justify-content-md-center pb-footer pt-header">
        <div class="border-brown-3 p-4 terminos-condiciones">
            <h2>{{ qi.textoBig('titulo_'~llave)|raw }}</h2>
            <div>
                {{ qi.textoBig(llave)|raw }}
            </div>
        </div>

    </section>

{% endblock %}
{% block javascripts %}

{% endblock %}

