{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/lightslider.min.css">
{% endblock %}
{% block body %}
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>{{ producto.producto.nombre }}</h2>
                            <p>Home <span>-</span> {{ producto.producto.nombre }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="product_image_area section_padding">
        <div class="container">
            <div class="row s_product_inner justify-content-between">
                <div class="col-lg-7 col-xl-7">
                    <div class="product_slider_img">
                        <img src="{{ producto.producto.imagen }}">

                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="s_product_text">
                        {#<h5>previous <span>|</span> next</h5>#}
                        <h3>{{ producto.producto.nombre }}</h3>
                        <h2>${{ producto.precio | number_format }}</h2>
                        <ul class="list">
                            <li>
                                <a class="active" href="#">
                                    <span>Categorias</span> :
                                    {% for item in producto.producto.categorias %}
                                        {{ item.nombre }}
                                    {% endfor %}
                                </a>
                            </li>
                        </ul>
                        <p>
                            {{ producto.producto.resumen | nl2br }}
                        </p>
                        <form action="javascript:comprar()" id="form" data-url="{{ path('add-to-carrito') }}" data-carrito="{{ path('carrito') }}">
                            <input id="product_id" name="producto_id" value="{{ producto.producto.plu }}" type="hidden" />
                            <input id="precio" name="precio" value="{{ producto.precio }}" type="hidden" />
                            <input id="wish" name="wish" value="" type="hidden" />
                            <div class="card_area d-flex justify-content-between align-items-center">
                                <div class="product_count">
                                    <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                                    <input class="input-number" type="text" id="cantidad" name="cantidad" value="1" min="0" max="10">
                                    <span class="number-increment"> <i class="ti-plus"></i></span>
                                </div>
                                <a href="javascript:comprar()" class="btn_3">agregar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(function(){
            var product_overview = $('#vertical');
            if (product_overview.length) {
                product_overview.lightSlider({
                    gallery: true,
                    item: 1,
                    vertical: true,
                    verticalHeight: 450,
                    thumbItem: 3,
                    slideMargin: 0,
                    speed: 600,
                    autoplay: true,
                    responsive: [{breakpoint: 991, settings: {item: 1,}}, {
                        breakpoint: 576,
                        settings: {item: 1, slideMove: 1, verticalHeight: 350,}
                    }]
                });
            }
        })
        function comprar(){

            var cantidad=$("#cantidad").val();
            var producto=$('#product_id').val();
            var wish=$('#wish').val();
            console.log("antes de enviar",producto);

            $.ajax({
                method: "POST",
                url: $("#form").data('url'),
                contentType: "application/json",
                accept: "application/json",
                dataType: "json",
                data: JSON.stringify({ cantidad: cantidad, producto: producto,wish:wish })
            })
                .done(function( msg ) {
                    console.log(msg);
                    if(msg.ok && wish == ""){
                        window.location.href=$("#form").data("carrito");
                        //window.location.reload();
                    }else{
                        alert(msg.mensaje);
                    }
                });

        }

        function wishlist(){
            $("#wish").val(1);
            comprar();
        }
    </script>
{% endblock %}

