{% extends 'base.html.twig' %}

{% block body %}
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="banner_slider owl-carousel">
                    {% for i in 0..1 %}
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>
                                                Me regala dos mil de pan VECI
                                            </h1>
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra
                                            </p>
                                            <a href="/#" class="btn_2">comprar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="{{ asset('img/banner_logo.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="slider-counter"></div>
            </div>
        </div>
    </div>
</section>
<section class="feature_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Categorías</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            {% for item in categorias %}
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_post_text">
                        {#<p>Premium Quality</p>#}
                        <h3>{{ item.nombre }}</h3>
                        <img src="{{ item.imagen }}" alt="">
                        <a href="{{path('categoria_id', {id:item.id})}}" class="feature_btn">VER AHORA</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="product_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Veci <span></span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product_list_slider owl-carousel">
                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            {% for item in destacados %}
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{{ item.imagen }}" alt="">
                                        <div class="single_product_text">
                                            <h4>{{ item.nombre }}</h4>
                                            <h3>${{ item.precio | number_format}}</h3>
                                            <a href="/#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_offer section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6">
                <div class="offer_img">
                    <img src="{{ destacados[0].imagen }}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="offer_text">
                    <h2>Producto de la semana, 40% de descuento
                    </h2>
                    <div class="date_countdown">
                        <div id="timer">
                            <div id="days" class="date"></div>
                            <div id="hours" class="date"></div>
                            <div id="minutes" class="date"></div>
                            <div id="seconds" class="date"></div>
                        </div>
                    </div>
                    {#<div class="input-group">
                        <input type="text" class="form-control" placeholder="enter email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a href="/#" class="input-group-text btn_2" id="basic-addon2">book now</a>
                        </div>
                    </div>#}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_list best_seller section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Productos destacados <span></span></h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="best_product_slider owl-carousel">
                    {% for item in destacados %}
                        <div class="single_product_item">
                            <img src="{{ item.imagen}}" alt="">
                            <div class="single_product_text">
                                <h4>{{ item.nombre}}</h4>
                                <h3>${{  item.precio | number_format}}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="subscribe_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="subscribe_area_text text-center">
                    <h5>Inscríbete a nuestro Newsletter</h5>
                    <h2>Suscríbete para recibir las mejores promociones
                    </h2>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="ingreesa tu email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a href="/#" class="input-group-text btn_2" id="basic-addon2">suscríbete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{#<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Top Products</h4>
                    <ul class="list-unstyled">
                        <li><a href="/">Managed Website</a></li>
                        <li><a href="/">Manage Reputation</a></li>
                        <li><a href="/">Power Tools</a></li>
                        <li><a href="/">Marketing Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="/">Jobs</a></li>
                        <li><a href="/">Brand Assets</a></li>
                        <li><a href="/">Investor Relations</a></li>
                        <li><a href="/">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Features</h4>
                    <ul class="list-unstyled">
                        <li><a href="/">Jobs</a></li>
                        <li><a href="/">Brand Assets</a></li>
                        <li><a href="/">Investor Relations</a></li>
                        <li><a href="/">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Resources</h4>
                    <ul class="list-unstyled">
                        <li><a href="/">Guides</a></li>
                        <li><a href="/">Research</a></li>
                        <li><a href="/">Experts</a></li>
                        <li><a href="/">Agencies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="single_footer_part">
                    <h4>Newsletter</h4>
                    <p>Heaven fruitful doesn't over lesser in days. Appear creeping</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative mail_part">
                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address" class="placeholder hide-on-focus" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ' Email Address '" data-cf-modified-="">
                            <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">subscribe</button>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <P>
                            Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="" target="_blank"></a>
                        </P>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_icon social_icon">
                        <ul class="list-unstyled">
                            <li><a href="/#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="/#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="/#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                            <li><a href="/#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>#}
