{% extends 'base_new.html.twig' %}

{% block body %}
    <div class="wrap_page">
        <div class="dir">
            <p>{{ qi.direccion }}</p>
        </div>
        <h1>TIENDAS</h1>
        <div class="buscador">
            <form action="" method="post">
                <input class="form-control" type="text" placeholder="Buscar tiendas"/>
            </form>
        </div>
        <section class="cont_tiendas">
            {% for item in tiendas %}
                <div class="tienda">
                    <div class="list-content">
                        <h2>{{ item.nombre }}</h2>
                        <a href="{{path('categorias', {id:item.id})}}" class="feature_btn">VER MÁS</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>

{% endblock %}
