<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ qi.texto('nombre') | upper }}</title>
        <link rel="icon" href="/img/favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('page') }}
    </head>
    <body>
        {{ include('basic/menu.html.twig') }}
        {% block body %}{% endblock %}

        {{ include('basic/footer.html.twig') }}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('page') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
