<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ qi.texto('nombre') | upper }}</title>
        <link rel="icon" href="/img/favicon.png">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,600,700,800&display=swap');
        </style>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
        {#<link rel="stylesheet" href="/css/style.css">#}
    </head>
    <body>
        {{ include('basic/menu.html.twig') }}
        {% block body %}{% endblock %}

        {{ include('basic/footer.html.twig') }}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
