{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block body %}
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Bienvenido a Veci</h2>
                            <p>Home <span>-</span> Login</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Eres un usuario nuevo?</h2>
                            <p>Crea una cuenta con nosotros para que puedas hacer todos los pedidos que quieras</p>
                            <a href="{{ path('fos_user_registration_register') }}" class="btn_3">Crear cuenta</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Datos de ingreso</h3>
                            <form class="row contact_form"  action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
                                {% if csrf_token('authenticate') %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                {% endif %}
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="username" name="_username"  value="{{ last_username }}" placeholder="Nombre de usuario">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="_password" value="" placeholder="Contraseña">
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Recuerdame</label>
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        Ingresar
                                    </button>
                                    <a class="lost_pass" href="{{path('fos_user_resetting_request')}}">Olvidaste tu contraseña?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}

