<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/login_veci/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login_veci/css/util.css">
    <link rel="stylesheet" type="text/css" href="/login_veci/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token('authenticate') %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                {% endif %}
                <span class="login100-form-title p-b-51">
                    BIENVENIDO
                </span>
                <span class="login100-form-title p-b-48">
                    <img src="{{ qi.imagen('logo').image }}" style="max-width:120px;"/>
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                    <input class="input100" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Usuario">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Ingrese la contraseña">
                    <input class="input100" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Contraseña">
                    <span class="focus-input100" data-placeholder="Contraseña"></span>
                </div>

                {#<div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div>
                        <a href="{{ path('fos_user_resetting_request') }}" class="txt1">
                            Olvidé contraseña
                        </a>
                    </div>
                </div>#}

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        INGRESAR
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/login_veci/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/login_veci/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/login_veci/vendor/bootstrap/js/popper.js"></script>
<script src="/login_veci/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/login_veci/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/login_veci/vendor/daterangepicker/moment.min.js"></script>
<script src="/login_veci/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/login_veci/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/login_veci/js/main.js"></script>

</body>
</html>
