{% extends 'base_noheader.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="wrap">
        <div class="half">
            <h2>INICIAR SESIÓN</h2>
            <form action="" id="form" novalidate method="post">
                <div class="alert alert-danger" style="display: none" role="alert" id="errores"></div>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                <div class="form-group">
                    <div class="remember">
                        <input type="checkbox" id="f-option" name="selector">
                        <label for="f-option">Recuerdame</label>
                    </div>
                    <a class="lost_pass" href="{{path('olvide')}}">¡Ups! Olvide mi contraseña</a>
                </div>
                <div class="form-group em">
                    <button type="submit" value="submit" class="btn_3" id="quickstart-sign-in">
                        Ingresar
                    </button>
                </div>
                <div class="form-group">
                    <p>¿Aún no tienes cuenta?</p>
                    <a class="btn" href="{{ path('crear_cuenta') }}">
                        Registrarme
                    </a>
                </div>
            </form>
        </div>
        <div class="half bl">
            <img class="banner_img" src="{{ qi.imagen('banner_login').image }}" alt="{{ qi.texto('nombre') }}">
        </div>
    </div>

    <div class="loader-wrapper" id="loader-1" style="display: none">
        <div id="loader"></div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}

