{% extends 'base_noheader.html.twig' %}
{% block body %}
    <div class="wrap">
        <div class="half">
            <h2>OLVIDE LA CONTRASEÑA</h2>
            <form action="" id="form" novalidate method="post">
                <div class="alert alert-danger" style="display: none" role="alert" id="errores"></div>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo"/>
                <div class="form-group">
                    <button type="submit" value="submit" class="btn_3" id="quickstart-password-reset">
                        Recuperar contraseña
                    </button>
                </div>
                <div class="form-group">
                    <p>¿Ya tienes la contraseña?</p>
                    <a class="btn" href="{{ path('ingresar') }}">
                        INICIAR SESIÓN
                    </a>
                </div>
            </form>
        </div>
        <div class="half bl">
            <img class="banner_img" src="{{ asset('img/login/banner.jpg') }}" alt="{{ qi.texto('nombre') }}">
        </div>
    </div>
{% endblock body %}
