{% extends 'base_noheader.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block body %}
    <div class="wrap">
        <div class="half">
            <h2>REGISTRARSE</h2>
            <form action="" id="form" novalidate method="post">
                <div class="alert alert-danger" style="display: none" role="alert" id="errores"></div>
                <input class="form-control" type="text" id="nombre" name="nombre" required="required" maxlength="255" placeholder="Nombre"/>
                <input class="form-control" type="text" id="apellido" name="apellido" required="required" maxlength="255" placeholder="Apellidos"/>
                <input class="form-control" type="email" id="email" name="email" required="required" maxlength="180" pattern=".{2,}" placeholder="Email"/>
                <input class="form-control" type="text" id="telefono" name="telefono" required="required" placeholder="Teléfono"/>
                <input class="form-control" type="password" id="password" name="password" required="required" placeholder="Contraseña" autocomplete="disabled"/>
                <input class="form-control" type="password" id="password_second" name="password_second" required="required" placeholder="Confirmar contraseña">
                <div class="form-group">
                    <p class="terminos">* Al registrarte aceptas <a href="{{ path('privacidad') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_politicas') }}</a> y
                        <a href="{{ path('privacidad') }}" target="_blank" class="link-terminos">{{ qi.texto('texto_autorizacion_datos') }}</a>
                    </p>
                </div>
                <div class="form-group em">
                    <button type="submit" value="submit" class="btn_3" id="quickstart-sign-up">
                        REGISTRARME
                    </button>
                </div>
                <div class="form-group">
                    <p>¿Ya tienes una cuenta?</p>
                    <a class="btn" href="{{ path('ingresar') }}">
                        INICIAR SESIÓN
                    </a>
                </div>
            </form>
        </div>
        <div class="half bl">
            <img class="banner_img" src="{{ qi.imagen('banner_login').image }}" alt="{{ qi.texto('nombre') }}">
        </div>
    </div>

    <div class="loader-wrapper" id="loader-1" style="display: none">
        <div id="loader"></div>
    </div>





{% endblock %}
{% block javascripts %}
{% endblock %}

